@layer components {
    .spinwheel{
        border-radius:50%;
        box-shadow:
        inset -5px 0 35px hsl(49, 10%, 42%),
        -5px 0 35px #d8d7d3,
        5px 0 35px #a98a8a;
        /* auto rotate animation */
        /* animation: spin 50s linear infinite;
        animation-delay: calc(var(--delay) * -1s) */
      }

      .arrowIcon{

        margin-left: 243px;
        margin-top: -360px;
       
       }
    
}
